/**
 * Environment-specific settings template.  Edit and drop the .dist extension.
 * Settings defined here will either overwrite entries in the settings.js file
 * (if the entry keys match) or be added to the settings object.
 *
 * Just the entries that need to be overwritten for normal operation are
 * provided.
 *
 * Please see the README.md file and /config/settings.js for explanations
 * and usage examples of these settings.
 */

module.exports = {
  // There is a wrapper for the log4js library in /lib/Logger.  
  // Please see the README regarding setting up logging.
  logging: {
    level  : 'debug',
  },
  app: {
    https   : false,
    url     : 'http://dev.sample.com',
    landing : 'http://dev.sample.com/landing'
  },
  // Please see the README file for configuration options for the database. 
  database   : {
    host     : "",
    name     : "",
    user     : "",
    password : ""
  }
};


